.git
.venv
**/.venv
__pycache__
**/__pycache__
*.py[cod]
*.egg-info
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
.coverage
htmlcov
.env
.zen

data
models
artifacts
mlruns
wandb

notebooks
.ipynb_checkpoints
.idea
.vscode
build
dist
